@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: auto;
}

body {
    background-color: #aeb6bf;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
    font-size: 70px;
}

ul, li {
    font-family: 'Josefin Slab', serif;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    list-style: none;
}